.modalDialog
    .formpopap
        form
            .formwrap
                textarea(type="text", placeholder="Introduce yourself")
                textarea(type="tel", placeholder="Leave us your telephone number")
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Request a call
            

.modalDialog2
    .formpopap
        form
            .formwrap
                .title
                    p Fill this form to watch Planeta PL  
                        span PLATINUM
                textarea(type="text", placeholder="Introduce yourself")
                textarea(type="email", placeholder="your email")
                textarea(type="text", placeholder="Specify your country of residence")
                textarea(type="tel", placeholder="your telephone number")
                .check
                    label.checkboxcustom
                        input(class="checkbox", type="checkbox", name="radio-test", checked)
                        span.checkbox-custom
                        span.label I want to track prices reduction
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Watch 3 days for free
