.modalDialog
    .formpopap
        form
            .formwrap
                textarea(type="text", placeholder="Przedstaw się")
                textarea(type="tel", placeholder="Zostaw swój numer")
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Zamówić telefon
            

.modalDialog2
    .formpopap
        form
            .formwrap
                .title
                    p WYPEŁNIJ TĄ TABELĘ, ŻEBY OBEJRZEĆ PLANETA PL 
                        span PLATINUM
                textarea(type="text", placeholder="introduce yourself")
                textarea(type="email", placeholder="leave your email")
                textarea(type="text", placeholder="where do you live?")
                textarea(type="tel", placeholder="leave your number")
                .check
                    label.checkboxcustom
                        input(class="checkbox", type="checkbox", name="radio-test", checked)
                        span.checkbox-custom
                        span.label I want to track price reduction by email
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Watch free for 3 days
