.modalDialog
    .formpopap
        form
            .formwrap
                textarea(type="text", placeholder="Przedstaw się")
                textarea(type="tel", placeholder="Zostaw swój numer")
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Zamówić telefon
            

.modalDialog2
    .formpopap
        form
            .formwrap
                .title
                    p WYPEŁNIJ TĄ TABELĘ, ŻEBY OBEJRZEĆ PLANETA PL 
                        span PLATINUM
                textarea(type="text", placeholder="Przedstaw się")
                textarea(type="email", placeholder="Zostaw swój e-mai")
                textarea(type="text", placeholder="Wskaż kraj pobytu")
                textarea(type="tel", placeholder="Zostaw swój numer")
                .check
                    label.checkboxcustom
                        input(class="checkbox", type="checkbox", name="radio-test", checked)
                        span.checkbox-custom
                        span.label Chcę śledzić obniżki cen po e-mail
                .closebutton
                    img(src="./images/close.png", alt="")
                .blockbutton
                    button.button Watch free for 3 days
