extends ../template

block varibles
    - var title = "Planeta"

block content
    .content
        //- header.header
        //-     .wrapper
        //-         .header_content
        //-             .logo
        //-                 img(src="./images/logo.png?1", alt="")
        //-             .numbers
        //-                 .number
        //-                     .label USA 
        //-                     a(href="tel:+17733124258") + 1 77 33124258
        //-                 .number
        //-                     .label EU 
        //-                     a(href="tel:+48828881019") + 48 82 8881019
        //-                 .callfree
        //-                     span Call Free 24/7
        //-             .menu
        //-                 a(href="#").paragraph O Firmie
        //-                 .r
        //-                 a(href="#").paragraph Uslugi
        //-                 .r
        //-                 a(href="#").paragraph Sklep
        //-                 .r
        //-                 a(href="#").paragraph Wsparcie
        //-                 .r
        //-                 a(href="#").paragraph Oferty
        //-                 .r
        //-                 a(href="#").paragraph Konto osobiste
        //-                 .r
        //-                 a(href="#").paragraph Test predcosci
        //-                 .r
        //-                 a(href="#").paragraph Kontakt
        //-             .lang
        //-                 .pl
        //-                     img(src="./images/pl.png", alt="", width="15")
        //-                     span PL
        //-                 .en
        //-                     img(src="./images/uk.png", alt="", width="15")
        //-                     span EN

        section.main_screen
            .wrapper
                .main_screen_content             
                    .left
                        h1 
                            | Watch 
                            span polish TV 
                            br
                            span 3 days  
                            | for free 
                    .right
                        form
                            .formwrap
                                .title
                                    p Step 1: Fill this form to watch Planeta PL  
                                        span PLATINUM
                                textarea(type="text", placeholder="Introduce yourself")
                                textarea(type="email", placeholder="your email")
                                textarea(type="text", placeholder="Specify your country of residence")
                                textarea(type="tel", placeholder="your telephone number")
                                .check
                                    label.checkboxcustom
                                        input(class="checkbox", type="checkbox", name="radio-test", checked)
                                        span.checkbox-custom
                                        span.label I want to track prices reduction
                            .blockbutton
                                button.button Watch 3 days for free

        .callback
            img(src="images/phone.png", alt="")
            span Request  <br> a call

        section.section2
            .wrapper
                .section2_content 
                    .title
                        h2 
                            | How to get    
                            span test access  
                            | to Planeta PL 
                            span PLATINUM 

                    .blockblocks
                        .blockitem
                            img(src="./images/1.png", alt="")
                            .text
                                .text-title Send 
                                .text-desc us a form above
                        .blockitem
                            img(src="./images/2.png", alt="")
                            .text
                                .text-title Check  
                                .text-desc your email
                        .blockitem
                            img(src="./images/3.png", alt="")
                            .text
                                .text-title Watch  
                                .text-desc Planeta PL 
                            
        section.section3
            .wrapper
                .section3_content
                    .title 
                        h2 
                            | Browse the  
                            span advantages 
                            | of Planeta PL
                    .blockblocks
                        .blockitem
                            img(src="images/icon1.png", alt="")
                            .descriptionblock
                                .descriptionblock__title
                                    span Online TV
                                .descriptionblock__text
                                    p Available in all countries. The only thing required is a stable internet connection.
                                    p We are using the most advanced technologies for you to watch TV online (in other words IPTV).
                        .blockitem
                                img(src="images/icon2.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span 2000+ movies
                                    .descriptionblock__text
                                        p Collection of more than 2000 films on Polish.
                                        p You can sort movies by genre.
                        .blockitem
                                img(src="images/icon3.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span HD quality
                                    .descriptionblock__text
                                        p Full HD contains 5 times more pixels than a regular DVD video.
                                        p Stable internet connection with 4-8 Mbit/sec speed is required for a correct visualisation.
                        
                        .blockitem
                            img(src="images/icon4.png", alt="")
                            .descriptionblock
                                .descriptionblock__title
                                    span Parental control
                                .descriptionblock__text
                                    p Control access to adult channels.
                                    p Limit unwanted access to movies and channels with parental control password.
                        .blockitem
                                img(src="images/icon5.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span 150+ channels
                                    .descriptionblock__text
                                        p More than 150 channels on Polish.
                                        p Watch Polsat, Polonia TV, TVP, TV4, TV6, Eska TV, Polo TV, BBC, Discovery and many more channels without restrictions.
                        .blockitem
                                img(src="images/icon6.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span TV archive for 14 days
                                    .descriptionblock__text
                                        p Watch TV shows whenever you want.
                                        p TV adjusts to your timezone and lifestyle. You choose when to watch.
                        
                        .blockitem
                            img(src="images/icon7.png", alt="")
                            .descriptionblock
                                .descriptionblock__title
                                    span Support 24/7
                                .descriptionblock__text
                                    p We are ready to provide support to every client regardless of timezone and country of residence.
                                    p Our support is available in any time and hotline calls are free.
                        .blockitem
                                img(src="images/icon8.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span Multiroom
                                    .descriptionblock__text
                                        p Connect up to three TV devices at the same time.
                                        p Watch various channels in different rooms without restrictions.
                        .blockitem
                                img(src="images/icon9.png", alt="")
                                .descriptionblock
                                    .descriptionblock__title
                                        span Cross-platform
                                    .descriptionblock__text
                                        p You can view TV and movies on PC, mobile devices, tablets and Smart TV.
                                        //- p Watch on Windows, Mac & Linux browsers Available on iOS and Android mobile operational systems via 3G and 4G internet
                    .blockbutton
                        button.button.popap_form  Try Planeta PL 3 days for free

        section.section4
            .wrapper
                .section4_content
                    .title
                        h2 Choose your plan to connect to Planeta PL
                    .blockblocks
                        .blockitem 
                            .blockitem__titleblock(style="background-image: url(./images/goldbg.png)") gold
                            .blockitem__paragraph
                                img(src="./images/pac1.png", alt="")
                                span 80+ channels
                            .blockitem__paragraph(style="background-color:#fcfcfc;")
                                img(src="./images/pac2.png", alt="")
                                span 2000+ movies
                            
                            //- .blockitem__paragraph(style="background-color:#fcfcfc;")
                            //-     img(src="./images/pac4.png", alt="")
                            //-     span On-line radio
                            .blockitem__paragraph
                                img(src="./images/pac5.png", alt="")
                                span Multiroom
                            .blockitem__paragraph(style="background-color:#fcfcfc;")
                                img(src="./images/pac6.png", alt="")
                                span Support in Polish 24/7
                            .blockitem__paragraph(style="background-color:#fcfcfc;opacity:0.3; text-decoration: line-through;")
                                img(src="./images/pac3.png", alt="")
                                span HD quality and streaming TV
                            //- .blockitem__paragraph
                            //-     img(src="./images/pac7.png", alt="")
                            //-     span Zapis filmów i programów
                            .blockitem__paragraph(style="background-color:#fcfcfc;opacity:0.3; text-decoration: line-through;")
                                img(src="./images/pac8.png", alt="")
                                span Parent control
                            .blockitem__paragraph(style="opacity:0.3;text-decoration: line-through;")
                                img(src="./images/pac9.png", alt="")
                                span Adult films
                            
                            .block_radiobutton
                                label.radio1
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 
                                        | 1 month 
                                        span €17.75
                                label.radio2
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 3 months 
                                        span €49.95 <br> 
                                            span.smol (and save €3.90)
                                    //- p.description 1 miesiąc €16.65 Cena 
                                label.radio3
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 
                                        | 6 months 
                                        span €94.95 <br>
                                            span.smol  (and save €12.75)
                                    //- p.description 1 miesiąc €15.82 Cena 
                                label.radio4
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 12 months 
                                        span €179.95 <br> 
                                            span.smol (and save €35.45) 
                                    //- p.description 1 miesiąc €14.99 Cena 

                            .block_button
                                button.button Choose GOLD
                            
                        .blockitem
                            .blockitem__titleblock(style="background-image: url(./images/bg2.png)") PLAtinum
                                .badge popular
                            .blockitem__paragraph
                                img(src="./images/pac1.png", alt="")
                                span 120+ CHANNELS
                            .blockitem__paragraph(style="background-color:#fcfcfc;")
                                img(src="./images/pac2.png", alt="")
                                span 3500+ MOVIES
                            
                            //- .blockitem__paragraph(style="background-color:#fcfcfc;")
                            //-     img(src="./images/pac4.png", alt="")
                            //-     span On-line radio
                            .blockitem__paragraph
                                img(src="./images/pac5.png", alt="")
                                span Multiroom
                            .blockitem__paragraph(style="background-color:#fcfcfc;")
                                img(src="./images/pac6.png", alt="")
                                span SUPPORT IN POLISH 24/7
                            .blockitem__paragraph
                                img(src="./images/pac3.png", alt="")
                                span HD QUALITY AND STREAMING TV
                            //- .blockitem__paragraph
                            //-     img(src="./images/pac7.png", alt="")
                            //-     span Zapis filmów i programów
                            .blockitem__paragraph(style="background-color:#fcfcfc;")
                                img(src="./images/pac8.png", alt="")
                                span PARENT CONTROL
                            .blockitem__paragraph
                                img(src="./images/pac9.png", alt="")
                                span ADULT FILMS
                            
                            .block_radiobutton
                                label.radio1
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 
                                        |  1 Month  
                                        span €22.95
                                label.radio2
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 3 Months  
                                        span €63.95 <br> 
                                            span.smol (and save  €4.90)
                                    //- p.description 1 miesiąc €21.31 Cena 
                                label.radio3
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 
                                        | 6 Months  
                                        span €119.95 <br> 
                                            span.smol (and save  €17.75)
                                    //- p.description  1 miesiąc €19.99 Cena 
                                label.radio4
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label 12 Months  
                                        span €229.95 <br> 
                                        span.smol (and save  €45.45) 
                                    //- p.description 1 miesiąc €19.16 Cena 

                            .block_button
                                button.button Choose PLATINUM

        section.section7
            .wrapper
                .section7_content
                    .left7   
                        .left__img
                            img(src="./images/decoder.png", alt="")  
                        
                    .right7
                        .right7__title
                            h2 Decoder
                        .right7__text
                            p Ultra compact IPTV / VOD / OTT player that can playback all available audio and video formats and allows to watch online TV in Full HD quality. Attractive design and nice price are main advantages of this model. Decoder can be connected through a simple cable TV or Wi-Fi.
                            p Decoder sizes: 9.5 x 9.5 cm.
                            p Guaranteed refund within 14 days.
                        //- .right7__price
                        //-     p Order Decoder 
                        //-         span €50.00
                        .right7__button
                            button.button Purchase 1 for 50 euros     
                            button.button Purchase 2 for 75 euros  

        section.section5
            .wrapper   
                .section5_content
                    .title
                        h2 
                            | Get decoder or 2 months  
                            span for free
                    //- .desc
                    //-     span BOUGHT 299 OUT OF 300

                    //- .block_button_custom
                    //-     .block_button_custom__left
                    //-         span I don't need a decoder
                    //-     .block_button_custom__center(onclick="swithblockcards()")
                    //-         .round
                    //-     .block_button_custom__right.bold_text
                    //-         span I need a decoder
                    .blockcards.visibleblock
                        .itemwrap
                            .blockcardsitem
                                .blockcardsitem__texttop
                                    p(style="min-height: 85px;")
                                        //- | subscribe for
                                        //- br  
                                        //- span 3 MONTHS 
                                        //- | and get 
                                        span 3 months  
                                        | of subscription 
                                        br
                                        //- | za ceną 
                                        //- br
                                        //- span 2 miesięcy!
                                        //- br
                                        //- span  dekoder 
                                        //-     br  
                                        //-     | gratis!
                                    .textabs
                                        span + 2 decoder / 2 months for free
                                    img(src="./images/decoder_mini.png", alt="")
                                .blockcardsitem__textmidle
                                    p
                                        | Subscribe for only  
                                         
                                        span €68.85
                                .section5_button
                                    button.button Buy
                                .blockcardsitem__textbottom
                                    p
                                        | And save 
                                        span 
                                        
                                            | €50.00
                        .itemwrap
                            .blockcardsitem.itemactive
                                .blockcardsitem__texttop
                                    p 
                                        //- | subscribe for 
                                        
                                        //- br
                                        //- span 6 months 
                                        //- | and pay 
                                        //- br
                                        //- span only for 5!
                                        span 6 months  
                                        | of subscription  
                                        br
                                        | for a  
                                        br
                                        span 5 months price!
                
                                    img(src="./images/decoder_mini.png", alt="")
                                    .textabs
                                        span + 2 decoder / 2 months for free
                                .blockcardsitem__textmidle
                                    p
                                        | Subscribe for only  
                                         
                                        span €114.75
                                .section5_button
                                    button.button Buy
                                .blockcardsitem__textbottom
                                    p
                                        | And save  
                                        span 
                                             
                                            | €72.95
                        .itemwrap
                            .blockcardsitem
                                .blockcardsitem__texttop
                                    p 
                                        //- | Subscribe for 
                                        //- br
                                        //- span 12 months 
                                        //- | and pay 
                                        //- br
                                        //- span only for 7!
                                        span 12 months  
                                        | of subscription  
                                        br
                                        | for a  
                                        br
                                        span 7 months price!
                                            
                                    img(src="./images/decoder_mini.png", alt="")
                                    .textabs
                                        span + 2 decoder / 2 months for free
                                .blockcardsitem__textmidle
                                    p
                                        | Subscribe for only 
                                         
                                        span €160.65
                                .section5_button
                                    button.button Buy
                                .blockcardsitem__textbottom
                                    p
                                        | And save   
                                        span 
                                             
                                            | €164.75

                    //- .blockcards
                    //-     .itemwrap
                    //-         .blockcardsitem
                    //-             .blockcardsitem__texttop
                    //-                 p(style="min-height: 85px;")
                                        
                    //-                     span 3 months  
                    //-                     | of subscription 
                    //-                     br
                                        
                    //-                 .textabs(style="width: 158px;font-size: 26px;")
                    //-                     span + 2 months for free!
                    //-                 img(src="./images/box.png", alt="", style="width: 148px;height: 115px; right: 26px;bottom: 21px;")
                    //-             .blockcardsitem__textmidle
                    //-                 p
                    //-                     | Subscribe for only 
                    //-                     span €68.85
                    //-             .section5_button
                    //-                 button.button Buy
                    //-             .blockcardsitem__textbottom
                    //-                 p
                    //-                     | and save 
                    //-                     span €50.00
                    //-     .itemwrap
                    //-         .blockcardsitem.itemactive
                    //-             .blockcardsitem__texttop
                    //-                 p 
                                        
                    //-                     span 6 months  
                    //-                     | of subscription  
                    //-                     br
                    //-                     | for a  
                    //-                     br
                    //-                     span 5 months price!
                
                    //-                 img(src="./images/box.png", alt="", style="width: 148px;height: 115px; right: 26px;bottom: 21px;")
                    //-                 .textabs(style="width: 158px;font-size: 26px;")
                    //-                     span + 2 months for free
                    //-             .blockcardsitem__textmidle
                    //-                 p
                    //-                     | Subscribe for only  
                    //-                     //- sup.smolindex 
                    //-                     span €114.75
                    //-             .section5_button
                    //-                 button.button Buy
                    //-             .blockcardsitem__textbottom
                    //-                 p
                    //-                     | and save 
                    //-                     span €72.95
                    //-     .itemwrap
                    //-         .blockcardsitem
                    //-             .blockcardsitem__texttop
                    //-                 p 
                                        
                    //-                     span 12 months  
                    //-                     | of subscription  
                    //-                     br
                    //-                     | for a  
                    //-                     br
                    //-                     span 7 months price!
                                            
                    //-                 img(src="./images/box.png", alt="", style="width: 148px;height: 115px; right: 26px;bottom: 21px;")
                    //-                 .textabs(style="width: 158px;font-size: 26px;")
                    //-                     span + 2 months for free
                    //-             .blockcardsitem__textmidle
                    //-                 p
                    //-                     | Subscribe for only 
                    //-                     //- sup.smolindex 
                    //-                     span €160.65
                    //-             .section5_button
                    //-                 button.button Buy
                    //-             .blockcardsitem__textbottom
                    //-                 p
                    //-                     | and save 
                    //-                     span €164.75
            .customstring
                img(src="./images/redstring.png", alt="")

        section.section6
            .wrapper
                .section6_content
                    .section6_content__block
                        span Limited time!
                    .section6_content__block
                        span 20 days 10:15:00

        section.section9
            
        //- section.section8
        //-     .wrapper
        //-         .section8_content
        //-             .section8_content__left
        //-                 .lefttitle
        //-                     span Recieve our offers 
        //-                         br
        //-                         | to your email
        //-             .section8_content__right
        //-                 form
        //-                     .form_content
        //-                         textarea(type="email", placeholder="Type your email here")
        //-                         button.button.button_white(type="submit") Track prices

        //- footer.footer
        //-     .wrapper
        //-         .footer_content
        //-             .footer__left
        //-                 a(href="#").logo PlanetaPLTV 2018
        //-                 img(src="./images/visa.png", alt="")

        //-             .footer__right
        //-                 .menu
        //-                     a(href="#").paragraph O Firmie
        //-                     .r
        //-                     a(href="#").paragraph Uslugi
        //-                     .r
        //-                     a(href="#").paragraph Sklep
        //-                     .r
        //-                     a(href="#").paragraph Wsparcie
        //-                     .r
        //-                     a(href="#").paragraph Oferty
        //-                     .r
        //-                     a(href="#").paragraph Konto osobiste
        //-                     .r
        //-                     a(href="#").paragraph Test predcosci
        //-                     .r
        //-                     a(href="#").paragraph Kontakt
        //-                 .button_top
        //-                     .blockbutton_top
        //-                         img(src="./images/arrow-point-to-right.png", alt="")




        include ../common/popaps.pug
                