.header_content{
    // background-color: rgba(0,0,0,.3);  
}

.header_content{
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0;
    .numbers{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 60px;
        .number{
            display: flex;
            font-size: 24px;
            color: $buttoncolor;
            a{
                color: $buttoncolor;
                margin-left: 5px;
                text-decoration: none; 
                transition: 0.1s;
            }
            a:hover{
                color: #c80600;
                transition: 0.1s;
            }
        }
        .callfree{
            color: #898a89;
            font-size: 16px;
        }
    }
    .menu{
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding-right: 18px;
        a{
            color: #898a89;
            font-size: 16px; 
            transition: 0.1s;
        }
        a:hover{
            color: $buttoncolor;
            transition: 0.1s;
        }
        .r{
            height: auto;
            border-left: 3px dotted $buttoncolor;
            transform: rotate(20deg);
            opacity: 0.5;
        }
    }
    .lang{
        display: flex;
        position: absolute;
        top: 5px;
        right: 0;
        .en{
            margin-left: 6px;
        }
        span{
            font-size: 12px;
            line-height: 11px;
        }
    }
}
