.section5{
    background-color: $bgcolorgrey;
    padding: 90px 0 110px 0; 
    position: relative;
    .customstring{
        position: absolute;
        top: -27px;
        right: -342px;
    }
    .wrapper{
        position: relative;
        z-index: 11;
    }
    
}

.section5_content{
    .desc{
        text-align: center;
         span{
            font-family: "titillium";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $titlecolor;
         }
    }
    .block_button_custom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 66px 0 66px 0;
        &__left{
            font-family: "titillium";
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            color: $titlecolor;
        }
        .bold_text{
            font-weight: 700;
        }
        &__center{
            width: 83px;
            height: 26px;
            border-radius: 13px;
            background-color: $buttoncolor;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 1px;
            margin: 0 22px 0 32px;
            .round{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: $bgcolorgrey;
                // transition: 0.1s;
            }
        }
        &__right{
            font-family: "titillium";
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            color: $titlecolor;
        }
    }
    .blockcards{
        display: none;
        align-items: center;
        padding-top: 60px;
        .blockcardsitem{
            width: 407px;
            height: 538px;
            padding: 20px;
            box-shadow: 0 3px 28px 1px rgba(32, 22, 0, 0.22);
            border-radius: 14px;
            background-color: $white;
            &__texttop{
                height: 258px;
                background-color: #d44c3d;
                padding: 38px 20px 92px 20px;
                border-radius: 8px;
                position: relative;
                margin-bottom: 40px;
                .textabs{
                    font-family: "titillium";
                    font-size: 28px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $white;
                    margin-top: 27px;
                    width: 175px;
                    line-height: 30px;
                    padding-bottom: 37px;
                }
                p{
                    text-transform: uppercase;
                    font-family: "titillium";
                    font-size: 26px;
                    font-weight: 400;
                    color: $white;
                    line-height: 28px;
                    span{
                        font-weight: 700;
                    }
                }
                img{
                    position: absolute;
                    bottom: -8px;
                    right: 10px;
                    width: 148px;
                    height: 141px;
                }
            }
            &__textmidle{
                padding: 0 48px;
                text-align: center;
                P{
                    font-family: "titillium";
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: $titlecolor;
                    span{
                        color: #c80600;
                        font-weight: 700;
                    }
                    .smolindex{
                        color: #c80600;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
            }
            &__textbottom{
                padding-top: 19px;
                text-align: center;
                p{
                    font-family: "titillium";
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                    span{
                        color: #c80600;
                        font-weight: 700;
                    }
                }
            }
        }
        .itemactive{
            position: relative;
            z-index: 2;
            width: 425px;
            height: 589px;
            .blockcardsitem__texttop{
                background-color: #d50506;
                padding: 38px 20px 0 20px;
            }
            .section5_button{
                margin: 10px 0;
            }

            .blockcardsitem__texttop{
                margin-bottom: 43px;
            }
        }
        // .itempadding{
        //     .blockcardsitem__texttop{
        //         padding: 38px 0 0 30px;
        //     }
        //     .blockcardsitem__textmidle{
        //         padding: 0 85px;
        //     }
        // }
    }
    .section5_button{
        padding: 20px 12px 0 12px;
        button{
            background-color: #c80600;
            width: 100%;
        }
    }

    .btn_acnive{
        justify-content: flex-start;
        background-color: #646464;
        // .round{
        //     transform: translateX(-57px);
        //     transition: 0.1s;
        // }
    }

    .visibleblock{
        display: flex;
    //    font-size: 26px;
    }
}

@media screen and (max-width: 1270px){
    .section5_content{
        .blockcards{
            justify-content: space-around;
            flex-wrap: wrap;
            .blockcardsitem {
                margin: 15px 0;
            }
        }
    }
}

@media screen and (max-width: 1270px){
    .section5{
        padding: 90px 0 68px 0;
    }
    .block_button_custom{
        &__left, &__right{
            font-size: 14px !important;
        }
        &__center{
            margin: 0 30px !important;
        }
    }
}

@media screen and (max-width: 700px){
    .section5{
        .customstring{
            display: none;
        }
    }
}

@media screen and (max-width: 440px){
    .section5_content{
        .blockcards{
            .blockcardsitem {
                width: 100%;
                height: auto;
                &__texttop{
                    p{
                        font-size: 18px;
                    }
                    img{
                        transform: scale(0.8);
                        right: 0 !important;
                        bottom: 0 !important;
                    }
                    .textabs{
                        font-size: 14px !important;
                        padding-right: 60px;
                    }
                }
                &__textmidle{
                    padding: 0 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 410px){

}