$white: white;
$black: black;
$buttoncolor: #f50000;
$titlecolor: #171717;
$textcolor: #4d4d4d;
$bgcolorgrey: #dfe2e3;



// $darkGray: #7e8193;
// $darkGrayBorder: #787a8e;
// $colorGray: #d9d9df;
// $bgDark: #3a3d4f;
// $bgLight: #6d7084;
// $bgSlide: #5a5e71;
// $bgSlideHover: #b5b9d0;
// $blue: #8ea2ff;
// $shadow: 0 8px 12px rgba(0,0,0,.14);
// $blockquote: #8a8d9f;

