.button{
    background-color: $buttoncolor;
    height: 66px;
    border-radius: 8px;
    color: $white;
    text-transform: uppercase;
    font-family: "titillium";
    font-size: 30px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    &_white{
        background-color: $white;
        color: $buttoncolor;
    }
    &_white:hover{
        box-shadow: inset 0 6px 15px rgba(32, 22, 0, 0.21);
    }
}

.button:hover{
    background-color: #c80600;
    outline: none;
}

.button_white:hover{
    background-color: $white;
    border: 1px solid #c80600;
    outline: none;
}

@media screen and (max-width: 580px){
    .button{
        font-size: 20px;
        // height: 56px;
    }
}